@import "../variables";
@import "../mixins";

.about-self {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-self__level {
  position: relative;
  margin-right: 31px;
  background-color: $pale-grey-middle;

  &::before,
  &::after {
    position: absolute;
  }

  &::before {
    content: "80";
    top: 20px;
    left: 31px;
    color: $dark-slate-blue;

    @include font-set(38px, 800, 38px);
  }

  &::after {
    content: "level";
    width: 47px;
    padding-top: 2px;
    top: 57px;
    left: 28px;
    text-align: center;
    color: $greyish-brown;

    border-top: 2px solid hsl(227, 16%, 82%);

    @include font-set(18px, 400, 22px);
  }
}

.about-self__level-value {
  position: relative;
  top: -3px;
  left: -1px;
}

.about-self__level,
.about-self__photo,
.about-self__photo-account {
  font-size: 0;
  line-height: 0;
}

.about-self__photo-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.about-self__change-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 15px 0 24px;
  padding: 0;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  color: $dark-slate-blue;
  background-color: $pale-grey;
  cursor: pointer;

  @include font-set(17px, 800, 30px);
}

.about-self__change-photo--input {
  display: none;
}

.about-self__tags,
.about-self__transport {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 1px solid $border-grey;
  border-radius: 10px;
  text-align: center;
  background-color: $pale-grey-middle;
}

.about-self__tags {
  margin-bottom: 17px;
  padding: 10px 26px 15px;
}

.about-self__tags-title,
.about-self__transport-title {
  padding-top: 2px;
  width: 70px;
  text-transform: uppercase;
  color: $dark-slate-blue;
  vertical-align: middle;

  @include font-set(16px, 800, 18px);
}

.about-self__tags-field {
  width: 100%;
  padding: 0;
  resize: none;
  border: none;
  text-align: left;
  background-color: $pale-grey-middle;

  @include font-set(16px, 400, 22px);
}

@media (min-width: $medium-width) {
  .about-self {
    justify-content: flex-start;
  }

  .about-self__transport {
    order: -1;
    width: 307px;
    height: 94px;
    margin: 0 62px 0 0;
    padding: 25px 0 0 0;
  }

  .about-self__level {
    order: -2;
    margin-right: 55px;
  }

  .about-self__level-value {
    left: -1px;
    width: 100px;
    height: 100px;
  }

  .about-self__level::before {
    top: 19px;
    left: 26px;
  }

  .about-self__level::after {
    top: 54px;
    left: 23px;
  }

  .about-self__photo-icon {
    width: 94px;
    height: 94px;
    border-radius: 10px;
  }

  .about-self__change-photo {
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    margin-top: 45px;
    margin-bottom: 52px;
  }

  .about-self__tags {
    padding: 32px 40px 5px;
  }

  .about-self__tags,
  .about-self__transport {
    position: relative;
  }

  .about-self__transport-title,
  .about-self__tags-title {
    position: absolute;
    bottom: -10px;
    left: 50%;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    background-color: $pale-grey-middle;
  }

  .about-self__transport-title {
    transform: translateX(-79px);
  }

  .about-self__tags-title {
    transform: translateX(-45px);
  }

  .about-self__tags-field {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $huge-width) {
  .about-self__transport {
    order: 0;
    width: 384px;
    margin: 0;
  }

  .about-self__level {
    order: 0;
    margin-left: 896px;
    margin-right: 39px;
    background-color: inherit;

    &::before,
    &::after {
      color: $white;
    }

    &::before {
      top: 63px;
    }

    &::after {
      top: 100px;
      border-color: adjust_color($white, $alpha: -0.7);
    }
  }

  .about-self__level-value {
    margin-top: 43px;
  }

  .about-self__photo,
  .about-self__level {
    margin-top: -190px;
  }

  .about-self__photo-icon {
    border-radius: 10px 10px 0 0;
    width: 190px;
    height: 190px;
  }

  .about-self__change-photo {
    width: 190px;
    height: 47px;
    border-radius: 0 0 10px 10px;
    margin: 0 0 26px 1035px;

    span:first-child {
      display: none;
    }
  }

  .about-self__change-photo:hover {
    background-color: $light-blue-grey-five;
  }

  .about-self__change-photo:active {
    span {
      opacity: 0.3;
    }
  }


  .about-self__tags {
    width: 730px;
    margin: 0 142px 0 64px;
    padding-top: 32px;
    padding-bottom: 0;
  }

  .about-self__tags-title {
    padding: 0 17px;
    left: 67px;
  }
}
