@import "../variables";
@import "../mixins";

.add-trip__title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-trip__title {
  margin: 0;
  padding: 0;
  color: $dark-slate-blue;

  @include font-set(24px, 800, 24px);
}

.add-trip__step-indicator {
  display: flex;
}

.add-trip__step-indicator--card {
  display: none;
}

.add-trip__step-item {
  position: relative;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $steel-grey;
    transform: translateY(-6px);
  }

  &:nth-last-of-type(n) {
    padding-left: 20px;
  }
}

.add-trip__step-item--active {
  &::before {
    background-color: $dark-slate-blue;
  }
}

@media (min-width: $medium-width) {
  .add-trip__title {
    font-size: 36px;
    line-height: 50px;
  }

  .add-trip__step-item {
    padding: 30px 0 0 0;

    &:nth-last-of-type(n + 2) {
      padding-left: 34px;
    }

    &:last-of-type {
      padding-left: 0;
    }
  }

  .add-trip__title-wrapper {
    margin-bottom: 40px;
  }
}

@media (min-width: $huge-width) {
  .add-trip__step-indicator--header {
    display: none;
  }

  .add-trip__step-indicator {
    margin-right: 48px;
  }

  .add-trip__step-indicator--card {
    padding-top: 0;
    display: block;
  }

  .add-trip__title-wrapper {
    padding-left: 70px;
    margin-bottom: 51px;
  }

  .add-trip__step-item {
    margin: 0 0 13px;
    padding-left: 29px;
    padding-top: 11px;
    color: adjust_color($dark-slate-blue, $alpha: -0.4);
    text-transform: uppercase;

    @include font-set(20px, 400, 20px);
    letter-spacing: 2px;

    &::before {
      transform: translateY(4px);
    }

    &:nth-last-of-type(n+2) {
      padding-left: 36px;
    }

    &:last-of-type {
      padding-left: 37px;
    }
  }

  .add-trip__step-item--active {
    color: $dark-slate-blue;
  }
}
