@import "../variables";
@import "../mixins";

.direction {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: $light-slate-blue;
}

.direction__wrapper {
  display: flex;
  flex-direction: column;
  padding: 73px 25px 30px;
  border-radius: 0 0 30px 30px;
  background-color: $pale-grey-middle;
}

.direction__service-description {
  padding: 0 50px 0 25px;
}

.direction__country-list {
  list-style: none;
  min-height: 90px;
  margin: 0 0 18px 0;
  padding: 0;
}

@media (min-width: $medium-width) {
  .direction {
    width: 768px;
  }

  .direction__wrapper {
    padding: 70px 40px 80px;
    border-radius: 0 0 60px 60px;
    background-image: url("../../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position-x: 438px;
    background-position-y: 80px;
  }

  .direction__service-description {
    box-sizing: border-box;
    width: 380px;
    padding: 0 0 105px 34px;
  }

  .direction__country-list {
    position: relative;
    padding: 0 35px 0;
    margin-bottom: 38px;

    &::before {
      content: "";
      position: absolute;
      width: 141px;
      height: 141px;
      top: -39px;
      left: 0;
      border-radius: 20px;
      background-color: $pale-grey-dark;
    }
  }
}

@media (min-width: $medium-width) and (min-resolution: $retina-dpi), (min-width: $medium-width) and (min-resolution: $retina-dppx) {
  .direction__wrapper {
    background-image: url("../../img/flags-back@2x.png");
    background-size: 289px 575px;
  }
}

@media (min-width: $huge-width) {
  .direction {
    width: 1440px;
  }

  .direction__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 162px 60px 140px;
    background-position-x: 1090px;
    background-position-y: 89px;
  }

  .direction__country-list {
    margin: 0 136px 0 0;
    padding-left: 71px;
    order: -1;

    &::before {
      top: -72px;
    }
  }

  .direction__service-description {
    width: 350px;
    margin: 0;
    padding: 2px 0 0 0;
  }

  .direction__show-button {
    width: 274px;
    height: 81px;
    margin: -81px 0 0 804px;
  }
}
