@import "../variables";
@import "../mixins";

.filter-country__header {
  padding-top: 19px;
}

.filter-country__content--form {
  display: none;
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 1;
}

.filter-country__dots-button,
.filter-country__expand-button {
  display: none;
}


.filter-country__header-icon {
  margin-right: 12px;
  fill: $dark-blue-grey;
  align-self: center;
}

.filter-country__header-button {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  background-color: transparent;
}

.filter-country__title-wrapper {
  margin-right: auto;
  text-transform: uppercase;
  color: $dark-blue-grey;

  @include font-set(16px, 800, 16px);
}

.filter-country__collapse-button {
  fill: $dark-blue-grey;
}

.filter-country__header-continents {
  margin: 34px 0 0 26px;
  padding: 0;
  list-style: none;
}

.filter-country__continent-sorting {
  margin: 0 0 8px;
  padding: 0;
  border: none;
  text-transform: uppercase;
  color: adjust-color($dark-blue-grey, $alpha: -0.7);
  background-color: transparent;

  @include font-set(16px, 800, 22px);
}

.filter-country__continent-sorting--active {
  color: $dark-blue-grey;
}

.filter-country__filter-close,
.filter-country__filter-show {
  display: none;
}

.filter-country__sorting-alphabet {
  display: flex;
  flex-direction: column;
}

.filter-country__sorting-alphabet--form {
  background-color: $white;
  border-radius: 10px;
}

.filter-country__alphabet-wrapper {
  display: flex;
  width: 225px;
  margin: 0 0 0 26px;
  padding: 0;
  flex-wrap: wrap;
  border-right: 1px solid hsl(227, 16%, 82%);
  border-top: 1px solid hsl(227, 16%, 82%);
  background-color: hsl(0, 0%, 100%);
}

.filter-country__alphabet-wrapper--form {
  margin: 0;
  width: 219px;
}

.filter-country__sorting-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 0 0 0;
  width: 45px;
  height: 42px;
  color: $dark-slate-blue;
  border-left: 1px solid hsl(227, 16%, 82%);
  border-bottom: 1px solid hsl(227, 16%, 82%);

  @include font-set(14px, 500, 18px);
}

.filter-country__sorting-item--form {
  width: (100%) / 5;
}

/* stylelint-disable */
@each $letter in А, Б, В, Г, Д, Е, Ё, Ж, З, И, Й, К, Л, М, Н, О, П, Р, С, Т, У, Ф, Х, Ц, Ч, Ш, Щ, Э, Ю, Я {
  .filter-country__sorting-radio[id="letter-#{$letter}"]:checked ~ .filter-country__alphabet-wrapper label[for="letter-#{$letter}"] {
    color: hsl(0, 0%, 100%);
    border: none;
    background-color: $dark-slate-blue;
  }
}

@each $letter in А, Б, В, Г, Д, Е, Ё, Ж, З, И, Й, К, Л, М, Н, О, П, Р, С, Т, У, Ф, Х, Ц, Ч, Ш, Щ, Э, Ю, Я {
  .filter-country__sorting-radio[id="letter-#{$letter}"]:checked ~ .filter-country__flex-wrapper label[for="letter-#{$letter}"] {
    color: $dark-slate-blue;
    border-left: 1px solid #cacdd8;
    border-bottom: 1px solid #cacdd8;
    background-color: $pale-grey-middle;
  }
}

/* stylelint-enable */

.filter-country__countries {
  margin: 0 0 0 26px;
  padding: 23px 0 0 0;
}

.filter-country__countries--form {
  margin: 0;
  padding: 18px 20px;
}

.filter-country__countries-list {
  display: none;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  border: 1px solid $pale-grey-dark;
  background-color: $pale-grey-dark;
}

.filter-country__countries-list--form {
  border: none;
  background-color: $white;
}

.filter-country__list-item {
  a {
    text-decoration: none;
    color: $greyish-brown;

    @include font-set(16px, 400, 22px);
  }
}

/* stylelint-disable */
@each $letter in А, Б, В, Г, Д, Е, Ё, Ж, З, И, Й, К, Л, М, Н, О, П, Р, С, Т, У, Ф, Х, Ц, Ч, Ш, Щ, Э, Ю, Я {
  .filter-country__sorting-radio[id="letter-#{$letter}"]:checked ~ .filter-country__countries .filter-country__countries-list--#{$letter} {
    display: block;
  }
}

/* stylelint-enable */

.filter-country__content-close {
  width: 100%;
  height: 40px;
  margin: 21px 0 27px 0;
  padding: 0;
  color: $dark-slate-blue;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  background-color: hsl(230, 39%, 88%);

  @include font-set(16.5px, 800, 29.5px);
}

.filter-country__collapse-button--big {
  margin-right: 12px;
}

@media (min-width: $medium-width) {
  .filter-country__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 56px;
    margin-bottom: 62px;
  }

  .filter-country__header-button {
    display: none;
  }

  .filter-country__header-continents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .filter-country__continent-sorting {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .filter-country__filter-close {
    display: flex;
    box-sizing: border-box;
    margin: 0 0 0 80px;
    padding: 0 0 0 0;
    border: none;
    text-transform: uppercase;
    color: $dark-blue-grey;
    background-color: transparent;
    vertical-align: top;
    min-height: 24px;

    @include font-set(20px, 800, 24px);
  }

  .filter-country__collapse-button {
    margin-left: 64px;
  }

  .filter-country__countries {
    padding-top: 5px;
  }

  .filter-country__sorting-alphabet {
    flex-direction: row;
  }

  .filter-country__content--form {
    top: 70px;
    z-index: 1;
  }

  .filter-country__flex-wrapper {
    padding: 34px 27px 96px;
    border-right: 1px solid adjust_color($dark-slate-blue, $alpha: -0.9);
  }

  .filter-country__countries--form {
    padding: 34px 19px 96px;
  }


  .filter-country__alphabet-wrapper--catalog {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    width: 375px;
    height: 415px;
    margin-left: 0;
    margin-right: 50px;
    padding-top: -50px;
    border: none;
    background-color: transparent;
  }

  .filter-country__alphabet-wrapper--form {
    box-sizing: border-box;
    width: 313px;
  }

  .filter-country__sorting-item--catalog {
    display: block;
    box-sizing: border-box;
    width: auto;
    height: 10px;
    margin-right: 30px;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    border: none;
    color: adjust_color($dark-slate-blue, $alpha: -0.8);
    text-align: left;
  }

  .filter-country__sorting-item--form {
    width: (100%) / 6;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    height: 70px;
  }

  /* stylelint-disable */
  @each $letter in А, Б, В, Г, Д, Е, Ё, Ж, З, И, Й, К, Л, М, Н, О, П, Р, С, Т, У, Ф, Х, Ц, Ч, Ш, Щ, Э, Ю, Я {
    .filter-country__sorting-radio[id="letter-#{$letter}"]:checked ~ .filter-country__alphabet-wrapper--catalog label[for="letter-#{$letter}"] {
      color: $dark-slate-blue;
      border: none;
      background-color: transparent;
    }
  }
  /* stylelint-enable */

  /* stylelint-disable */
  @each $letter in А, Б, В, Г, Д, Е, Ё, Ж, З, И, Й, К, Л, М, Н, О, П, Р, С, Т, У, Ф, Х, Ц, Ч, Ш, Щ, Э, Ю, Я {
    .filter-country__sorting-radio[id="letter-#{$letter}"]:checked ~ .filter-country__flex-wrapper label[for="letter-#{$letter}"] {
      color: $white;
      border: none;
      background-color: $dark-slate-blue;
    }
  }
  /* stylelint-enable */

  /* stylelint-disable */
  @each $letter in Ё, Ж, Й, Ц, Щ {
    .filter-country__alphabet-wrapper--catalog label[for="letter-#{$letter}"] {
      display: none;
    }
  }
  /* stylelint-enable */

  .filter-country__list-item {
    a {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
    }
  }

  .filter-country__content-close {
    height: 100px;
    margin: 35px 0 73px;
    font-size: 20px;
    line-height: 30px;
  }

  .filter-country__collapse-button--big {
    width: 19px;
    height: 19px;
  }
}

@media (min-width: $huge-width) {
  .filter-country__header {
    padding-top: 59px;
    margin-bottom: 0;
  }

  .filter-country__header-button {
    display: flex;
    justify-content: flex-start;
    width: auto;
    margin-left: 20px;
  }

  .filter-country__title-wrapper {
    margin: 0 35px 0 0;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;

    &::after {
      position: relative;
      left: -5px;
      content: ":";
      color: $dark-blue-grey;
    }
  }

  .filter-country__filter-close {
    margin-left: 371px;
    margin-right: 68px;
  }

  .filter-country__alphabet-wrapper--catalog,
  .filter-country__sorting-radio--catalog,
  .filter-country__collapse-button--mobile {
    display: none;
  }

  /* stylelint-disable */
  @each $letter in А, Б, В, Г, Д, Е, Ё, Ж, З, И, Й, К, Л, М, Н, О, П, Р, С, Т, У, Ф, Х, Ц, Ч, Ш, Щ, Э, Ю, Я {
    .filter-country__countries-list--catalog-#{$letter} {
      position: relative;
      display: block;
      margin-top: 137px;

      &::before {
        content: "#{$letter}";
        position: absolute;
        top: -77px;
        color: $dark-blue-grey;

        @include font-set(60px, 800, 24px);
      }
    }
  }
  /* stylelint-enable */

  .filter-country__countries-list {
    min-width: 200px;
  }

  .filter-country__countries--catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 47px;
  }

  .filter-country__content-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 85px 0 74px;
  }

  .filter-country__collapse-button--big {
    width: 18px;
    height: 18px;
  }


  .filter-country__flex-wrapper {
    box-sizing: border-box;
    width: 489px;
    padding-bottom: 34px;
  }

  .filter-country__alphabet-wrapper--form {
    width: 435px;
    border: none;
  }

  .filter-country__countries--form {
    box-sizing: border-box;
    width: 240px;
  }

  .filter-country__sorting-item--form {
    box-sizing: border-box;
    width: 60px;
    margin-right: 15px;
    border: 1px solid $border-grey;
    border-radius: 5px;
  }

  .filter-country__sorting-item--form:nth-of-type(6n) {
    margin-right: 0;
  }

  .filter-country__sorting-item--form:nth-last-of-type(7n) {
    margin-bottom: 15px;
  }

  /* stylelint-disable */
  @each $letter in А, Б, В, Г, Д, Е, Ё, Ж, З, И, Й, К, Л, М, Н, О, П, Р, С, Т, У, Ф, Х, Ц, Ч, Ш, Щ, Э, Ю, Я {
    .filter-country__flex-wrapper label[for="letter-#{$letter}"]:hover {
      border: solid 1px $bluey-grey-two;
    }
  }

  @each $letter in А, Б, В, Г, Д, Е, Ё, Ж, З, И, Й, К, Л, М, Н, О, П, Р, С, Т, У, Ф, Х, Ц, Ч, Ш, Щ, Э, Ю, Я {
    .filter-country__flex-wrapper label[for="letter-#{$letter}"]:active {
      color: $white;
      border: none;
      background-color: $dark-slate-blue;
    }
  }
  /* stylelint-enable */

  .filter-country__countries-list--form {
    .filter-country__list-item {
      a:hover {
        color: $dark-slate-blue;
      }

      a:active {
        color: adjust_color($dark-slate-blue, $alpha: -0.7);
      }
    }
  }
}
