@import "../variables";
@import "../mixins";

.hash-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  color: $greyish-brown;

  @include font-set (16px, 400, 18px);
}

.hash-tags__item {
  margin-right: 5px;
}

@media (min-width: $medium-width) {
  .hash-tags {
    font-size: 20px;
    line-height: 28px;
  }
}
