@import "../variables";
@import "../mixins";

.main-catalog {
  width: 100%;
  padding-bottom: 45px;
  background-color: $pale-grey-middle;
}

.main-catalog__filter-country {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto 24px;
  padding: 0 25px;
  border-radius: 0 0 20px 20px;
  background-color: $pale-grey-dark;
}

.main-catalog__filter-country--collapsed {
  .filter-country__header {
    display: flex;
    width: 100%;
  }

  .filter-country__header-continents,
  .filter-country__content {
    display: none;
  }

  .filter-country__header-icon,
  .filter-country__title-wrapper {
    margin-bottom: 18px;
  }

  .filter-country__collapse-button {
    display: none;
  }

  .filter-country__expand-button {
    display: block;
    margin-right: 5px;
    margin-top: 1px;
  }
}

.main-catalog__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 25px 1px;
}

.main-catalog__filter-companion {
  width: auto;
}

.main-catalog__filter-wrapper {
  margin-bottom: 28px;
}

.main-catalog__users-cards {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.main-catalog__show-more {
  position: relative;
  display: block;
  margin: 0 auto 21px;
  padding: 0 0 0 33px;
  border: none;
  text-transform: uppercase;
  color: $dark-slate-blue;
  background-color: inherit;

  @include font-set(17px, 800, 30px);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: $dark-slate-blue;
    transform: translateY(-2px);
  }

  &::after {
    transform: translateY(-2px) rotate(90deg);
  }
}

@media (min-width: $medium-width) {
  .main-catalog {
    padding-bottom: 62px;
  }

  .main-catalog__filter-wrapper {
    margin-bottom: 41px;
  }

  .main-catalog__filter-country--collapsed {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 60px 60px;

    .filter-country__header {
      margin-bottom: 57px;
    }

    .filter-country__filter-close,
    .filter-country__content {
      display: none;
    }

    .filter-country__filter-show {
      display: block;
      margin: 0 15px 0 70px;
      color: $dark-slate-blue;
      text-transform: uppercase;
      white-space: nowrap;
      border: none;
      background-color: transparent;

      @include font-set(20px, 800, 24px);
    }

    .filter-country__header-continents {
      display: flex;
    }

    .filter-country__header-button {
      display: block;
      width: auto;
      order: 1;
    }

    .filter-country__header-icon,
    .filter-country__title-wrapper {
      display: none;
    }

    .filter-country__expand-button {
      display: none;
    }

    .filter-country__dots-button {
      display: block;
      min-width: 27px;
      max-width: 27px;
    }
  }

  .filter-country__header-button {
    display: none;
  }

  .main-catalog__users-cards {
    margin-bottom: 43px;
  }

  .main-catalog__filter-country {
    width: 768px;
    margin-bottom: 44px;
    padding: 0 75px;
  }

  .main-catalog__wrapper {
    width: 768px;
    padding: 0 40px;
  }

  .main-catalog__show-more {
    font-size: 20px;
    margin-bottom: 48px;
    padding: 0 0 0 45px;

    &::before,
    &::after {
      width: 27px;
      height: 3px;
    }

    &::after {
      left: -5px;
      transform: translateY(-3px) rotate(90deg);
    }

    &::before {
      transform: translate(-7px, -3px);
    }
  }
}

@media (min-width: $huge-width) {
  .main-catalog {
    padding-bottom: 80px;
  }

  .main-catalog__filter-country--collapsed {
    .filter-country__header {
      margin-bottom: 51px;
    }

    .filter-country__header-icon,
    .filter-country__title-wrapper {
      display: block;
      margin: 0;
    }

    .filter-country__header-icon {
      width: 23px;
      height: 17px;
      margin: 0 21px;
    }

    .filter-country__title-wrapper {
      margin-right: 35px;
    }

    .filter-country__header-button {
      display: flex;
      order: 0;
      margin: 0;
    }

    .filter-country__dots-button-button {
      margin-right: 62px;
    }

    .filter-country__filter-show {
      margin-right: 20px;
      margin-left: 372px;
    }
  }

  .main-catalog__users-cards {
    margin-bottom: 66px;
  }

  .main-catalog__title {
    width: 1440px;
  }

  .main-catalog__title-wrapper {
    padding: 0 123px 0 129px;
  }

  .main-catalog__filter-country {
    width: 1440px;
    padding: 0 60px 1px;
    border-radius: 0 0 60px 60px;
  }

  .main-catalog__wrapper {
    display: flex;
    width: 1440px;
    padding: 34px 60px 0;
  }

  .main-catalog__filter-wrapper {
    order: 1;
  }

  .main-catalog__content-wrapper {
    flex-grow: 1;
    margin-right: 85px;
  }

  .main-catalog__filter-companion {
    box-sizing: border-box;
    width: 285px;
  }

  .main-catalog__show-more {
    margin-bottom: 65px;
    left: -35px;
  }
}
