@import "../variables";
@import "../mixins";

.main-form {
  width: 100%;
  background-color: $pale-grey-middle;
}

.maim-form__about-self {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 23px 25px 33px;
}

.main-form__plans {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 29px 25px 30px;
  border-radius: 30px 30px 0 0;
  background-color: $pale-grey;
}

.main-form__plans-title {
  margin: 0 0 30px;
  padding: 0;
  color: $dark-slate-blue;

  @include font-set(24px, 800, 24px);
}

.main-form__add-trip {
  width: 320px;
  margin: 0 auto;
  background-color: $pale-grey;
}

.main-form__trip-wrapper {
  margin: 0;
  padding: 30px 25px 44px;
  border-radius: 30px 30px 0 0;
  background-color: $light-blue-grey;
}

@media (min-width: $medium-width) {
  .maim-form__about-self {
    width: 768px;
    padding: 64px 75px 45px;
  }

  .main-form__plans {
    width: 768px;
    padding: 47px 75px 74px;
    border-radius: 30px 30px 0 0;
  }

  .main-form__add-trip {
    width: 768px;
  }

  .main-form__trip-wrapper {
    margin-bottom: 27px;
    padding: 45px 75px 72px;
    border-radius: 30px 30px 0 0;
  }

  .main-form__plans-title {
    margin-bottom: 42px;
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
  }
}

@media (min-width: $huge-width) {
  .maim-form__about-self {
    width: 1440px;
    padding: 0 60px 65px;
  }

  .main-form__plans {
    width: 1440px;
    padding: 46px 60px 63px 124px;
    border-radius: 60px 60px 0 0;
  }

  .main-form__plans-title {
    margin-bottom: 42px;
    padding-left: 5px;
  }

  .main-form__trip-wrapper {
    padding: 46px 60px 96px;
    border-radius: 60px 60px 0 0;
  }

  .main-form__add-trip {
    width: 1440px;
  }
}
