@import "../variables";
@import "../mixins";

.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
}

.page-footer--catalog {
  background-color: $pale-grey-middle;
}

.page-footer__wrapper {
  box-sizing: border-box;
  position: relative;
  margin: -20px 0 0 0;
  padding: 38px 25px 14px;
  border-radius: 20px 20px 0 0;
  background-color: hsl(0, 0%, 100%);
}

.page-footer__wrapper--catalog {
  position: static;
  margin: 0;
}

.page-footer__photo-set {
  margin: 0;
  padding: 0;
}

.page-footer__logo {
  display: block;
  margin: 0;
  padding: 0;
}

.page-footer__logo-image {
  display: block;
  margin: 0 auto 38px;
  padding: 0;
  width: 96px;
}

.page-footer__list-social {
  display: flex;
  justify-content: center;
  margin: 0 0 57px;
  padding: 0;
}

.page-footer__developer {
  margin: 0;
  padding: 0;
}

@media (min-width: $medium-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    padding: 48px 40px 46px;
    border-radius: 50px 50px 0 0;
  }

  .page-footer__wrapper--catalog {
    margin: 0;
  }

  .page-footer__logo-image {
    margin: 0;
    padding: 0;
    width: 165px;
  }

  .page-footer__list-social {
    margin: 0;
  }

  .page-footer__developer {
    margin: 0;
  }
}

@media (min-width: $huge-width) {
  .page-footer {
    width: 1440px;
  }
}
