@import "../variables";
@import "../mixins";

.page-title__title {
  width: 320px;
  margin: 0 auto;
}

.page-title__title--catalog {
  background-color: $pale-grey-dark;
}

.page-title__title--form {
  background-color: $pale-grey-middle;
}

.page-title__title-wrapper {
  min-height: 70px;
  padding: 0 26px 0;
  border-radius: 0 0 20px 20px;
  background-color: $dark-slate-blue;
}

.page-title__title-header {
  position: relative;
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 2px;
  padding-bottom: 10px;
  vertical-align: middle;

  @include font-set(36px, 800, 40px);

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: $mango-dark;
  }
}

.page-title__title-home {
  display: none;
}

@media (min-width: $medium-width) {
  .page-title__title {
    width: 768px;
  }

  .page-title__title-wrapper {
    display: flex;
    min-height: 219px;
    padding: 0 75px 0 76px;
    border-radius: 0 0 60px 60px;
  }

  .page-title__title-header {
    box-sizing: border-box;
    margin-top: 83px;
    margin-right: auto;
    margin-left: -1px;
    font-size: 60px;
    line-height: 70px;

    &::before {
      bottom: -5px;
      height: 8px;
    }
  }

  .page-title__title-home {
    position: relative;
    display: inline-block;
    margin: 110px 0 0;
    padding: 0;

    vertical-align: middle;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    text-decoration: none;

    @include font-set(20px, 800, 24px);

    &--icon {
      margin-left: 24px;
      fill: hsl(0, 0%, 100%);
    }
  }
}

@media (min-width: $huge-width) {
  .page-title__title {
    width: 1440px;
  }

  .page-title__title-wrapper {
    padding: 0 123px 0 128px;
    border-radius: 0 0 60px 60px;
  }

  .page-title__title-header {
    margin-top: 105px;
    padding-bottom: 65px;
  }

  .page-title__title-home {
    margin-top: 133px;
    padding-bottom: 0;

    &--icon {
      margin-left: 24px;
    }
  }
}
