@import "../variables";
@import "../mixins";

.select-item__clarification,
.select-item__label {
  display: flex;
  justify-content: space-between;
  margin: 0 0 9px;
  padding: 0;
  text-transform: uppercase;

  @include font-set(16px, 500, 16px);
}

.select-item__clarification {
  letter-spacing: 1.6px;
}

.select-item__label-title {
  color: $dark-slate-blue;
  letter-spacing: 1.6px;
}

.select-item__clarification-item {
  color: adjust_color($dark-slate-blue, $alpha: -0.7);
}

.select-item__input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 219px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid $border-grey;
  border-radius: 5px;
}

.select-item__input-value {
  width: auto;
  border: none;
  text-align: center;
  color: $dark-slate-blue;
  outline: none;

  @include font-set(15px, 500, 13.5px);

  &::placeholder {
    color: $dark-slate-blue;
  }
}

.select-item__input-value::-webkit-outer-spin-button,
.select-item__input-value::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.select-item__button {
  position: relative;
  width: 42px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: adjust_color($lighter-slate-blue, $alpha: -0.8);
  }
}

.select-item__button-minus {
  &::before {
    left: 14px;
  }
}

.select-item__button-plus {
  &::before {
    right: 14px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 14px;
    width: 14px;
    height: 2px;
    background-color: adjust_color($lighter-slate-blue, $alpha: -0.8);
    transform: rotate(90deg);
  }
}

@media (min-width: $medium-width) {
  .select-item__clarification,
  .select-item__label {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .select-item__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 29px;
  }

  .select-item__duration {
    order: 1;
  }

  .select-item__input-value {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .select-item__button {
    height: 66px;

    &::before,
    &::after {
      width: 20px;
    }
  }

  .select-item__button-plus {
    &::before,
    &::after {
      right: 20px;
    }
  }

  .select-item__button-minus {
    &::before {
      left: 20px;
    }
  }

  .select-item__label-title {
    letter-spacing: 2px;
  }

  .select-item__input-wrapper {
    width: 530px;
    height: 68px;
  }
}

@media (min-width: $huge-width) {
  .select-item__clarification {
    order: 1;
  }

  .select-item__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0 33px;
    border-top: 1px solid #cacdd8;
  }

  .select-item {
    width: 490px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    margin-bottom: 17px;
  }

  .select-item__duration {
    margin-bottom: 0;
  }

  .select-item__input-wrapper {
    box-sizing: border-box;
    position: relative;
    width: 180px;
  }

  .select-item__input-wrapper--companions {
    margin-left: 29px;
    margin-right: 34px;
  }

  .select-item__input-wrapper:hover {
    border-color: $bluey-grey-two;
  }

  .select-item__input-wrapper:active {
    border-color: $dark-slate-blue;
  }

  .select-item__input-wrapper--duration {
    margin-left: 54px;
    margin-right: 38px;
  }

  .select-item__input-value {
    width: 80px;
  }

  .select-item__label,
  .select-item__clarification {
    margin-bottom: 0;
  }

  .select-item__label {
    padding-left: 5px;
    white-space: nowrap;
  }

  .select-item__clarification-item {
    color: $dark-slate-blue;
  }

  .select-item__button:hover {
    &::before {
      background-color: adjust_color($lighter-slate-blue, $alpha: -0.6);
    }
  }

  .select-item__button:active {
    &::before {
      background-color: adjust_color($lighter-slate-blue, $alpha: -0.9);
    }
  }

  .select-item__button-plus:hover {
    &::after {
      background-color: adjust_color($lighter-slate-blue, $alpha: -0.6);
    }
  }

  .select-item__button-plus:active {
    &::after {
      background-color: adjust_color($lighter-slate-blue, $alpha: -0.9);
    }
  }
}
