@import "../variables";
@import "../mixins";

.travel-mode {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.travel-mode--form,
.travel-mode-user-list,
.travel-mode--catalog {
  justify-content: center;
}

.travel-mode--catalog {
  margin: -1px -3px 0;
}

.travel-mode--form {
  margin-bottom: 2px;
}

.travel-mode-filter {
  margin-left: -2px;
}

.travel-mode__item {
  position: relative;
  margin: 0;
  padding: 0;
}

.travel-mode__item--user-list {
  height: 21px;
}

.travel-mode__item--transport-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: $pale-grey-middle;
}

.travel-mode__item--transport-label {
  background-color: $white;
}

.travel-mode--tooltip {
  display: none;
}

.travel-mode__item-image {
  position: relative;
  fill: hsla(228, 41%, 15%, 0.15);
}

.travel-mode__item-radio:checked + .travel-mode__item--transport-list {
  .travel-mode__item-image {
    fill: $dark-slate-blue;
  }
}

.travel-mode__item--active {
  fill: hsla(228, 41%, 15%, 1);
}

.travel-mode__plane {
  margin-right: 15px;
}

.travel-mode__bus {
  margin-right: 13px;
}

.travel-mode__bike {
  margin-right: 10px;
}

@media (min-width: $medium-width) {
  .travel-mode--catalog {
    margin: 0 0 5px 0;
  }

  .travel-mode__item--transport-list {
    background-color: inherit;
  }

  .travel-mode__item-image--catalog-plane,
  .travel-mode__item-image--catalog-bus,
  .travel-mode__item-image--catalog-bike,
  .travel-mode__item-image--catalog-run {
    height: 21px;
  }

  .travel-mode__item-image--catalog-plane {
    width: 19px;
  }

  .travel-mode__item-image--catalog-bus {
    width: 17px;
  }

  .travel-mode__item-image--catalog-bike {
    width: 24px;
  }

  .travel-mode__item-image--catalog-run {
    width: 20px;
  }

  .travel-mode__item--transport-label {
    width: 43px;
    height: 43px;
    margin-right: 8px;
    background-color: $white;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .travel-mode__item-image--form-bus,
  .travel-mode__item-image--form-bike,
  .travel-mode__item-image--form-run,
  .travel-mode__item-image--form-plane,
  .travel-mode__item-image--filter-bus,
  .travel-mode__item-image--filter-bike,
  .travel-mode__item-image--filter-run,
  .travel-mode__item-image--filter-plane {
    height: 21px;
  }

  .travel-mode__item-image--form-plane,
  .travel-mode__item-image--filter-plane {
    width: 19px;
  }

  .travel-mode__item-image--form-bus,
  .travel-mode__item-image--filter-bus {
    width: 19px;
  }

  .travel-mode__item-image--form-bike,
  .travel-mode__item-image--filter-bike {
    width: 24px;
  }

  .travel-mode__item-image--form-run,
  .travel-mode__item-image--filter-run {
    width: 20px;
  }

  .travel-mode__plane {
    margin-right: 17px;
  }
}

@media (min-width: $huge-width) {
  .travel-mode__item--transport-label {
    position: relative;
    margin-right: 0;
  }

  .travel-mode__item--transport-label:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  }

  .travel-mode__item-image {
    &--index-plane:hover + .travel-mode--tooltip,
    &--index-bus:hover + .travel-mode--tooltip,
    &--index-bike:hover + .travel-mode--tooltip,
    &--index-run:hover + .travel-mode--tooltip {
      position: absolute;
      display: block;

      bottom: 0;
      left: 0;
      width: auto;
      height: auto;
      margin: 0;
      padding: 20px 23px;
      border-radius: 5px;
      color: $white;
      background-color: $dark-blue-grey-four;
      z-index: 1;

      clip-path: none;
      clip: auto;

      @include font-set(20px, 400px, 20px);

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 12px;
        height: 12px;
        background-color: $dark-blue-grey-four;
        transform: rotate(45deg) translateX(-8px);
      }
    }

    &--index-plane:hover + .travel-mode--tooltip {
      transform: translate(-65px, 77px);
    }

    &--index-bus:hover + .travel-mode--tooltip {
      transform: translate(-73px, 77px);
    }

    &--index-bike:hover + .travel-mode--tooltip {
      transform: translate(-55px, 77px);
    }

    &--index-run:hover + .travel-mode--tooltip {
      transform: translate(-45px, 77px);
    }

    .travel-mode--catalog {
      margin-top: 13px;
      margin-right: 4px;
    }
  }
}
